@model Menu
@using XCode.Membership
@using NewLife;
@using NewLife.Cube;
@using NewLife.Web;
@using XCode;
@using XCode.Configuration;
@using XCode.Membership;
@{
    var entity = Model;
    var fields = ViewBag.Fields as FieldCollection;
}

    <ul class="nav nav-tabs" role="tablist">
            <li class="active"><a href="#item0" data-toggle="tab">默认</a></li>
            <li class=""><a href="#item1" data-toggle="tab">扩展</a></li>
    </ul>
    <div class="tab-content">
            <div class="tab-pane fade in active" id="item0">
                <div class="row">
<div class="form-group col-xs-12 col-sm-6">
    <label class="control-label col-xs-3 col-sm-3">名称</label>
    <div class="input-group col-xs-9 col-sm-9">
        <input class="form-control" id="Name" name="Name" type="text" value="@entity.Name" />
    </div>
</div>
<div class="form-group col-xs-12 col-sm-6">
    <label class="control-label col-xs-3 col-sm-3">显示名</label>
    <div class="input-group col-xs-9 col-sm-9">
        <input class="form-control" id="DisplayName" name="DisplayName" type="text" value="@entity.DisplayName" />
    </div>
</div>
<div class="form-group col-xs-12 col-sm-6">
    <label class="control-label col-xs-3 col-sm-3">全名</label>
    <div class="input-group col-xs-9 col-sm-9">
        <input class="form-control" id="FullName" name="FullName" type="text" value="@entity.FullName" />
    </div>
</div>
<div class="form-group col-xs-12 col-sm-6">
    <label class="control-label col-xs-3 col-sm-3">父编号</label>
    <div class="input-group col-xs-9 col-sm-9">
        @Html.ForEditor(Menu._.ParentID, entity)
    </div>
</div>
<div class="form-group col-xs-12 col-sm-6">
    <label class="control-label col-xs-3 col-sm-3">链接</label>
    <div class="input-group col-xs-9 col-sm-9">
        <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span><input class="form-control" id="Url" name="Url" type="url" value="@entity.Url" /></div>
    </div>
</div>
<div class="form-group col-xs-12 col-sm-6">
    <label class="control-label col-xs-3 col-sm-3">排序</label>
    <div class="input-group col-xs-9 col-sm-9">
        @Html.TextBox("Sort", @entity.Sort, new { @class = "form-control", role="number" })
    </div>
</div>
<div class="form-group col-xs-12 col-sm-6">
    <label class="control-label col-xs-3 col-sm-3">图标</label>
    <div class="input-group col-xs-9 col-sm-9">
        <input class="form-control" id="Icon" name="Icon" type="text" value="@entity.Icon" />
    </div>
</div>
<div class="form-group col-xs-12 col-sm-6">
    <label class="control-label col-xs-3 col-sm-3">可见</label>
    <div class="input-group col-xs-9 col-sm-9">
        @Html.CheckBox("Visible", @entity.Visible, new { @class = "chkSwitch" })
    </div>
</div>
<div class="form-group col-xs-12 col-sm-6">
    <label class="control-label col-xs-3 col-sm-3">必要</label>
    <div class="input-group col-xs-9 col-sm-4">
        @Html.CheckBox("Necessary", @entity.Necessary, new { @class = "chkSwitch" })
    </div>
    <span class="hidden-xs col-sm-5"><span class="middle">必要的菜单，必须至少有角色拥有这些权限，如果没有则自动授权给系统角色</span></span>
</div>
<div class="form-group col-xs-12 col-sm-6">
    <label class="control-label col-xs-3 col-sm-3">新窗口</label>
    <div class="input-group col-xs-9 col-sm-4">
        @Html.CheckBox("NewWindow", @entity.NewWindow, new { @class = "chkSwitch" })
    </div>
    <span class="hidden-xs col-sm-5"><span class="middle">新窗口打开链接</span></span>
</div>
<div class="form-group col-md-12">
    <label class="control-label col-xs-3 col-sm-3">权限子项</label>
    <div class="input-group col-xs-9 col-sm-5">
        <textarea class="form-control" cols="20" id="Permission" name="Permission" rows="3">@entity.Permission</textarea>
    </div>
    <span class="hidden-xs col-sm-4"><span class="middle">逗号分隔，每个权限子项名值竖线分隔</span></span>
</div>
                </div>
    </div>
            <div class="tab-pane fade in " id="item1">
                <div class="row">
<div class="form-group col-xs-12 col-sm-6">
    <label class="control-label col-xs-3 col-sm-3">扩展1</label>
    <div class="input-group col-xs-9 col-sm-9">
        @Html.TextBox("Ex1", @entity.Ex1, new { @class = "form-control", role="number" })
    </div>
</div>
<div class="form-group col-xs-12 col-sm-6">
    <label class="control-label col-xs-3 col-sm-3">扩展2</label>
    <div class="input-group col-xs-9 col-sm-9">
        @Html.TextBox("Ex2", @entity.Ex2, new { @class = "form-control", role="number" })
    </div>
</div>
<div class="form-group col-xs-12 col-sm-6">
    <label class="control-label col-xs-3 col-sm-3">扩展3</label>
    <div class="input-group col-xs-9 col-sm-9">
        @Html.TextBox("Ex3", @entity.Ex3, new { @class = "form-control" })
    </div>
</div>
<div class="form-group col-xs-12 col-sm-6">
    <label class="control-label col-xs-3 col-sm-3">帮助文档链接</label>
    <div class="input-group col-xs-9 col-sm-5">
        <input class="form-control" id="Ex4" name="Ex4" type="text" value="@entity.Ex4" />
    </div>
    <span class="hidden-xs col-sm-4"><span class="middle">扩展4</span></span>
</div>
<div class="form-group col-xs-12 col-sm-6">
    <label class="control-label col-xs-3 col-sm-3">扩展5</label>
    <div class="input-group col-xs-9 col-sm-9">
        <input class="form-control" id="Ex5" name="Ex5" type="text" value="@entity.Ex5" />
    </div>
</div>
<div class="form-group col-xs-12 col-sm-6">
    <label class="control-label col-xs-3 col-sm-3">扩展6</label>
    <div class="input-group col-xs-9 col-sm-9">
        <input class="form-control" id="Ex6" name="Ex6" type="text" value="@entity.Ex6" />
    </div>
</div>
<div class="form-group col-xs-12 col-sm-6">
    <label class="control-label col-xs-3 col-sm-3">创建者</label>
    <div class="input-group col-xs-9 col-sm-9">
        <input class="form-control" id="CreateUser" name="CreateUser" type="text" value="@entity.CreateUser" />
    </div>
</div>
<div class="form-group col-xs-12 col-sm-6">
    <label class="control-label col-xs-3 col-sm-3">创建用户</label>
    <div class="input-group col-xs-9 col-sm-9">
        @Html.TextBox("CreateUserID", @entity.CreateUserID, new { @class = "form-control", role="number" })
    </div>
</div>
<div class="form-group col-xs-12 col-sm-6">
    <label class="control-label col-xs-3 col-sm-3">创建地址</label>
    <div class="input-group col-xs-9 col-sm-9">
        <input class="form-control" id="CreateIP" name="CreateIP" type="text" value="@entity.CreateIP" />
    </div>
</div>
<div class="form-group col-xs-12 col-sm-6">
    <label class="control-label col-xs-3 col-sm-3">创建时间</label>
    <div class="input-group col-xs-9 col-sm-9">
        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
        @Html.TextBox("CreateTime", @entity.CreateTime.ToFullString(""), new { @class = "form-control date form_datetime" })
    </div>
</div>
<div class="form-group col-xs-12 col-sm-6">
    <label class="control-label col-xs-3 col-sm-3">更新者</label>
    <div class="input-group col-xs-9 col-sm-9">
        <input class="form-control" id="UpdateUser" name="UpdateUser" type="text" value="@entity.UpdateUser" />
    </div>
</div>
<div class="form-group col-xs-12 col-sm-6">
    <label class="control-label col-xs-3 col-sm-3">更新用户</label>
    <div class="input-group col-xs-9 col-sm-9">
        @Html.TextBox("UpdateUserID", @entity.UpdateUserID, new { @class = "form-control", role="number" })
    </div>
</div>
<div class="form-group col-xs-12 col-sm-6">
    <label class="control-label col-xs-3 col-sm-3">更新地址</label>
    <div class="input-group col-xs-9 col-sm-9">
        <input class="form-control" id="UpdateIP" name="UpdateIP" type="text" value="@entity.UpdateIP" />
    </div>
</div>
<div class="form-group col-xs-12 col-sm-6">
    <label class="control-label col-xs-3 col-sm-3">更新时间</label>
    <div class="input-group col-xs-9 col-sm-9">
        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
        @Html.TextBox("UpdateTime", @entity.UpdateTime.ToFullString(""), new { @class = "form-control date form_datetime" })
    </div>
</div>
<div class="form-group col-md-12">
    <label class="control-label col-xs-3 col-sm-3">备注</label>
    <div class="input-group col-xs-9 col-sm-9">
        <textarea class="form-control" cols="20" id="Remark" name="Remark" rows="3">@entity.Remark</textarea>
    </div>
</div>
                </div>
    </div>
    </div>
