@model CmsSite
@using LeoChen.Cms.Data
@using NewLife;
@using NewLife.Cube;
@using NewLife.Web;
@using XCode;
@using XCode.Configuration;
@using XCode.Membership;
@{
    var entity = Model;
    var fields = ViewBag.Fields as FieldCollection;
}

    <ul class="nav nav-tabs" role="tablist">
            <li class="active"><a href="#item0" data-toggle="tab">默认</a></li>
            <li class=""><a href="#item1" data-toggle="tab">扩展信息</a></li>
    </ul>
    <div class="tab-content">
            <div class="tab-pane fade in active" id="item0">
                <div class="row">
<div class="form-group col-xs-12 col-sm-6">
    <label class="control-label col-xs-3 col-sm-3">区域代码</label>
    <div class="input-group col-xs-9 col-sm-9">
        @Html.ForDropDownList("AreaID", CmsSite.Meta.AllFields.First(e=>e.Name=="AreaName").Map.Provider.GetDataSource(), @entity.AreaName)
    </div>
</div>
<div class="form-group col-xs-12 col-sm-6">
    <label class="control-label col-xs-3 col-sm-3">标题</label>
    <div class="input-group col-xs-9 col-sm-9">
        <input class="form-control" id="Title" name="Title" type="text" value="@entity.Title" />
    </div>
</div>
<div class="form-group col-xs-12 col-sm-6">
    <label class="control-label col-xs-3 col-sm-3">副标题</label>
    <div class="input-group col-xs-9 col-sm-9">
        <input class="form-control" id="Subtitle" name="Subtitle" type="text" value="@entity.Subtitle" />
    </div>
</div>
<div class="form-group col-xs-12 col-sm-6">
    <label class="control-label col-xs-3 col-sm-3">域名</label>
    <div class="input-group col-xs-9 col-sm-9">
        <input class="form-control" id="Domain" name="Domain" type="text" value="@entity.Domain" />
    </div>
</div>
<div class="form-group col-xs-12 col-sm-6">
    <label class="control-label col-xs-3 col-sm-3">logo</label>
    <div class="input-group col-xs-9 col-sm-9">
        <input class="form-control" id="Logo" name="Logo" type="text" value="@entity.Logo" />
    </div>
</div>
<div class="form-group col-xs-12 col-sm-6">
    <label class="control-label col-xs-3 col-sm-3">关键词</label>
    <div class="input-group col-xs-9 col-sm-9">
        <input class="form-control" id="Keywords" name="Keywords" type="text" value="@entity.Keywords" />
    </div>
</div>
<div class="form-group col-md-12">
    <label class="control-label col-xs-3 col-sm-3">描述</label>
    <div class="input-group col-xs-9 col-sm-9">
        <textarea class="form-control" cols="20" id="Description" name="Description" rows="3">@entity.Description</textarea>
    </div>
</div>
<div class="form-group col-xs-12 col-sm-6">
    <label class="control-label col-xs-3 col-sm-3">icp</label>
    <div class="input-group col-xs-9 col-sm-9">
        <input class="form-control" id="Icp" name="Icp" type="text" value="@entity.Icp" />
    </div>
</div>
<div class="form-group col-xs-12 col-sm-6">
    <label class="control-label col-xs-3 col-sm-3">模板名</label>
    <div class="input-group col-xs-9 col-sm-9">
        <input class="form-control" id="Theme" name="Theme" type="text" value="@entity.Theme" />
    </div>
</div>
<div class="form-group col-md-12">
    <label class="control-label col-xs-3 col-sm-3">statistical</label>
    <div class="input-group col-xs-9 col-sm-9">
        <textarea class="form-control" cols="20" id="Statistical" name="Statistical" rows="3">@entity.Statistical</textarea>
    </div>
</div>
<div class="form-group col-xs-12 col-sm-6">
    <label class="control-label col-xs-3 col-sm-3">copyright</label>
    <div class="input-group col-xs-9 col-sm-9">
        <input class="form-control" id="Copyright" name="Copyright" type="text" value="@entity.Copyright" />
    </div>
</div>
                </div>
    </div>
            <div class="tab-pane fade in " id="item1">
                <div class="row">
<div class="form-group col-xs-12 col-sm-6">
    <label class="control-label col-xs-3 col-sm-3">创建者</label>
    <div class="input-group col-xs-9 col-sm-9">
        @Html.TextBox("CreateUserID", @entity.CreateUserID, new { @class = "form-control", role="number" })
    </div>
</div>
<div class="form-group col-xs-12 col-sm-6">
    <label class="control-label col-xs-3 col-sm-3">创建时间</label>
    <div class="input-group col-xs-9 col-sm-9">
        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
        @Html.TextBox("CreateTime", @entity.CreateTime.ToFullString(""), new { @class = "form-control date form_datetime" })
    </div>
</div>
<div class="form-group col-xs-12 col-sm-6">
    <label class="control-label col-xs-3 col-sm-3">创建地址</label>
    <div class="input-group col-xs-9 col-sm-9">
        <input class="form-control" id="CreateIP" name="CreateIP" type="text" value="@entity.CreateIP" />
    </div>
</div>
<div class="form-group col-xs-12 col-sm-6">
    <label class="control-label col-xs-3 col-sm-3">更新者</label>
    <div class="input-group col-xs-9 col-sm-9">
        @Html.TextBox("UpdateUserID", @entity.UpdateUserID, new { @class = "form-control", role="number" })
    </div>
</div>
<div class="form-group col-xs-12 col-sm-6">
    <label class="control-label col-xs-3 col-sm-3">更新时间</label>
    <div class="input-group col-xs-9 col-sm-9">
        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
        @Html.TextBox("UpdateTime", @entity.UpdateTime.ToFullString(""), new { @class = "form-control date form_datetime" })
    </div>
</div>
<div class="form-group col-xs-12 col-sm-6">
    <label class="control-label col-xs-3 col-sm-3">更新地址</label>
    <div class="input-group col-xs-9 col-sm-9">
        <input class="form-control" id="UpdateIP" name="UpdateIP" type="text" value="@entity.UpdateIP" />
    </div>
</div>
                </div>
    </div>
    </div>
